# ─── Client App (Vite) ───────────────────────────────────────
VITE_API_BASE_URL=http://localhost:30500/api

# ─── Stripe (Frontend Publishable Key) ───────────────────────
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_your_publishable_key

# ─── App Timezone────────────────────────────────────────────
VITE_TIMEZONE=Asia/Colombo
