PORT=5003
MONGO_URI=mongodb://mongo:27017/appointment-service
INTERNAL_SECRET=change_this_internal_secret
DOCTOR_SERVICE_URL=http://doctor-service:5001
PATIENT_SERVICE_URL=http://patient-service:5002
NOTIFICATION_SERVICE_URL=http://notification-service:5004
