PORT=5006
MONGO_URI=mongodb://mongo:27017/payment-service
INTERNAL_SECRET=change_this_internal_secret

# Downstream services
APPOINTMENT_SERVICE_URL=http://appointment-service:5003

# Payment Gateway (Mock or Stripe)
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
