PORT=5005
MONGO_URI=mongodb://mongo:27017/payment-service

STRIPE_SECRET_KEY=your_stripe_secret_key_here
STRIPE_WEBHOOK_SECRET=your_webhook_secret_here

APPOINTMENT_SERVICE_URL=http://appointment-service:5003