PORT=5000
JWT_SECRET=your_super_secret_jwt_key_change_in_production

# Registered services
# Add a new entry here each time a new service is connected to the gateway
AUTH_SERVICE_URL=http://auth-service:5007
PATIENT_SERVICE_URL=http://patient-service:5002
DOCTOR_SERVICE_URL=http://doctor-service:5001
