PORT=5001
MONGO_URI=mongodb://mongo:27017/doctor-service
INTERNAL_SECRET=change_this_internal_secret
APPOINTMENT_SERVICE_URL=http://appointment-service:5003
PATIENT_SERVICE_URL=http://patient-service:5002
